<h1>Let's make some ships and pirates!</h1>
<form method="post" action="/pirates">
  <label for="new_pirate">Pirate:</label>
  <input type="text" id="new_pirate" name="new_pirate">
  <label for="new_ship1">Ship 1:</label>
  <input type="text" id="new_ship1" name="new_ship1">
  <label for="new_ship2">Ship 2:</label>
  <input type="text" id="new_ship2" name="new_ship2">
  <input type="submit">
</form>
